{% extends 'main.html' %}
{% block firstpage %}
    <h1>
        <p class="font-italic font-weight-bold" align="center"> The woods are lovely,</p>
        <p class="font-italic font-weight-bold" align="center"> dark and deep,</p>
        <p class="font-italic font-weight-bold" align="center">  but I have promises to keep,</p>
        <p class="font-italic font-weight-bold" align="center"> and miles to go before I sleep,</p>
        <p class="font-italic font-weight-bold" align="center"> and miles to go before I sleep...</p>


    <p class="font-italic font-weight-bold" align="right">Robert Frost</p>

    </h1>
{% endblock %}