{% extends 'main.html' %}
{% block onevideo %}

<head>
  <title>Video page</title>
</head>

    <body>
        {% load staticfiles %}
        {% for vid in Video %}
            <h1><a href="onevideo/{{vid.id}}">{{ vid.Video_title }}</a></h1>
            <iframe src={{vid.Video_URL}} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h6>{{vid.Video_time|date:"Y-m-d"}}</h6>

            <h3>{{vid.Video_o}}</h3>

            <h2>
                <a href="Vaddlikes/{{vid.id}}">
                    <img src="{% static 'img_like.png' %}" width="40px" height="40">
                </a>
                {{vid.Video_like}}

            </h2>
              <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#{{ vid.id }}demo">Comments</button>
                <div id="{{ vid.id }}demo" class="collapse">
                    {% for com in vid.comments %}
                        <h3>{{com}}</h3>
                    {% endfor %}
                </div>
            <hr>
        {% endfor %}
    </body>
</html>

{% endblock %}